body {
    font-family: Roboto;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 92px;
    width: 414px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-header {
    padding-left: 20px;
    padding-top: 5px;
}
.app-name {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 55px;
    letter-spacing: -0.012em;
}
.app-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.menu {
    background-color: #E5E5E5;
    width: 414px;
    height: 100%;
    margin-top: 92px;
    margin-bottom: 92px;
}
.category {
    height: 100%;
    padding: 26px 0px 0px 20px;
}
p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.018em;
    color: #333333;
}
.scroll{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}
.options {
    width: 500px;
    display: flex;
    overflow-x: scroll;
    margin-top: 12px;
}
.container {
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.container img {
    display: flex;
    margin: auto;
    margin-top: 18px;
}
h1 {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 15px;
    margin-top: 8px;
}
h2 {
    color: #A6A6A6;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
    margin-left: 15px;
    margin-top: 10px;
}
h3 {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 15px;
    margin-top: 10px;
}
.header-bottom {
    position: fixed;
    bottom: 0;
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
}
.button {
    position: absolute;
    left: 25px;
    top: 16px;
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
}
.button-text {
    position: absolute;
    left: 80px;
    top: 7px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #FFFFFF;
}
