body {
    font-family: Roboto;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 92px;
    width: 414px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-header {
    padding-left: 20px;
    padding-top: 5px;
}
.app-name {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 55px;
    letter-spacing: -0.012em;
}
.app-desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.menu {
    background-color: #E5E5E5;
    width: 414px;
    height: 100%;
    margin-top: 92px;
    padding-bottom: 124px;
}
.category {
    height: 100%;
    padding-top: 26px;
}
.title {
    padding-left: 20px;
}
p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.018em;
    color: #333333;
}
.scroll{
    display: flex;
}
.options {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 12px;
}
.container {
    position: relative;
    background-color: #FFFFFF;
    height: 216px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 20px;
    margin-right: 12px;
}
ion-icon {
    display: none;
    position: absolute;
    width: 19px;
    height: 19px;
    color: #32B72F;
    bottom: 10px;
    right: 10px;
}
.selected-food {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selected-drink {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selected-desert{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
.selected-desert>ion-icon, 
.selected-drink>ion-icon,
.selected-food>ion-icon{
    display: block;
}
.container img {
    width: 144px;
    height: 87px;
    margin: auto;
    padding: 15px 12px 0px 12px;
}
h1 {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 15px;
    margin-top: 8px;
}
h2 {
    color: #A6A6A6;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
    margin-left: 15px;
    margin-top: 10px;
}
h3 {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 15px;
    margin-top: 10px;
}
.header-bottom {
    position: fixed;
    bottom: 0;
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
}
.button {
    margin: auto;
    margin-top: 12px;
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    color: #FFFFFF;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.018em;
    text-align: center;
    padding-top: 8px;
}
.button-off {
    pointer-events: none;
    cursor: default;
}
.button-selected {
    background-color: #32B72F;
    line-height: 50px;
    pointer-events: initial;
}
